<?xml version="1.0" encoding="UTF-8"?>

<!-- 
  This is a template for the data config file.
  Create a local dataconnector.config from this template. 
  Fill in the appropriate target and login information. 
  Add it in plain text. After running the first time, all 
  target and login data will be encrypted.
-->

<dataconfigs>
  <dataconfig>
    <id>mysql</id>
    <name>MySQL DataConnector</name>
    <target>targetserver.com</target>
    <port>3306</port>
    <username>my-username</username>
    <password>my-password</password>
  </dataconfig>
</dataconfigs>